<div class="fulltime-header">I'm Going Full-Time!</div>

<div class="fulltime-blurb">I've been freelancing for 3 years, but now I’m looking to bring
my unique understanding of customer needs and my passion for Fullstack
development to a full-time permanent, contract, or contract-to-hire role.
Ideally I would like to work remotely, but I'm also considering positions
in Seattle in the SODO, Pioneer Square, Downtown, or South Lake Union neighborhoods.</div>

<div class="fulltime-resume-wrapper">
  <img class="fulltime-resume" src="https://s3-us-west-2.amazonaws.com/kaylahowser2017portfolio/kayla-howser-resume.png" />
</div>


<a class="fulltime-link-wrapper" href="https://s3-us-west-2.amazonaws.com/kaylahowser2017portfolio/kayla-howser-resume.pdf">
  <div class="fulltime-link">
    Download a PDF of my Resume
  </div>
</a>
