<div class="top-wrapper">
  <div class="name-wrapper">
    <div class="name">
      <h1>Kayla Howser</h1>
    </div>

    <div class="row align-center-middle">
      <div class="blurb small-12 medium-expand columns">
        Skilled full-stack Ruby developer with a knack for bringing tech to the non-technical looking to join an
        established company with a strong mission and a great culture
      </div>
    </div>
  </div>
</div>

<%= render 'layouts/header' %>

<div class="homepage">

  <div class="avatar">
    <img src="http://placekitten.com/g/300/300" />
  </div>

  <div class="section-content-wrapper row align-center">
    <div class="blurb medium-10 columns">
      With a long-standing interest in web design and development, I built my first website on Angelfire in 2003.
      I worked in customer support for years but found myself at a crossroads with a strong desire to learn new things.
      I turned back to my passion for the web, this time in a professional setting. I’ve always been able to empathize
      and communicate effectively with customers and my relationship management skills have helped me thrive as a
      freelance developer. Right now, I’ m looking to join a team disrupting their industry. I’d love to work with a
      company that values my strong understanding of customer needs and my ability to write excellent code,
      where I will immerse myself in a great product and expand upon my skills.
    </div>
  </div>

  <hr>

  <div class="row">
    <a class="resume-contact-links medium-6 small-12 columns" href="https://s3-us-west-2.amazonaws.com/kaylahowser2017portfolio/kayla-howser-resume.pdf">
      <div class="link-wrapper">
        Download My Resume
      </div>
    </a>

    <a class="resume-contact-links medium-6 small-12 columns" href="/contact">
      <div class="link-wrapper">
        Contact Me
      </div>
    </a>
  </div>

  <hr>

  <div class="section-header projects-header">
    <h2>Projects</h2>
  </div>

  <%= render 'projects/project_grid' %>

</div>

<script>
  $(document).ready(function() {
    function setHeight() {
      windowHeight = $(window).innerHeight();
      $('.top-wrapper').css('height', windowHeight);
    };
    setHeight();

    $(window).resize(function() {
      setHeight();
    });
  });
</script>
