<div class="project-index">
  <div class="title">
    <h1>My Projects</h1>
  </div>

  <%= render 'project_grid' %>

  <div>
    <% if logged_in? %>
      <%= link_to 'Create New Project', new_project_path, class: 'button' %>
    <% end %>
  </div>
</div>
