<div class="project-index-header">
  My Projects
</div>

<div class="row small-up-1 medium-up-2 project-index-blocks">
  <% @projects.each do |project| %>
  <a href="<%= project_path(project.id) %>" class="column project-index">
    <div class="project-index-title">
      <%= project.title %>
    </div>
  </a>
  <% end %>
</div>

<div class="new-project-link-index">
  <% if logged_in? %>
    <%= link_to 'Create New Project', new_project_path, class: 'button' %>
  <% end %>
</div>
