.top-wrapper {
  background-image: url("https://s3-us-west-2.amazonaws.com/kaylahowser2017portfolio/portfolio-background.jpg");
  background-position: center center;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;

  .name-wrapper {
    background-color: white;
    opacity: 0.8;
    width: 70%;
    padding: 30px 0;

    .name {
      text-align: center;
      font-family: "Mr Bedfort", cursive;
      font-size: 4em;
      padding: 0 10px;
      line-height: 1.1;
    }
  }

  .blurb {
    text-align: center;
    font-family: "Josefin Sans", sans;
    font-size: 1.2em;
    padding: 20px 20px 0 20px;
  }
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;

  img {
    border-radius: 50%;
  }
}

.long-blurb {
  text-align: center;
  padding: 0 30px 30px 30px;
  font-size: 1.2em
}

.resume-contact-link-wrapper {
  padding: 20px;

  .link-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
  }

  .link {
    background-color: $yellow;
    color: $purple;
    padding: 25px;
    text-align: center;
    font-family: "Josefin Sans", sans;
    font-size: 1.5em;
    text-transform: uppercase;
    -moz-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
    -webkit-transition: all .4s ease-in;
    transition: all .4s ease-in;
  }
}

.home-projects-header {
  text-align: center;
  font-family: "Mr Bedfort";
  font-size: 4em;
  padding: 20px 0 40px 0;
}

.home-project-blocks {
  .project-wrapper:nth-child(1) {
    background-color: $red;
  }

  .project-wrapper:nth-child(2n+2) {
    background-color: $blue;
  }

  .project-wrapper:nth-child(3n+3) {
    background-color: $yellow;
  }

  .project-wrapper:nth-child(4n+4) {
    background-color: $red;
  }

  .project-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
  }

  .project-title {
    text-align: center;
    font-family: "Josefin Sans", sans;
    font-size: 1.5em;
    text-transform: uppercase;
    color: black;
  }
}

@include breakpoint(medium) {
  .top-wrapper {
    .name-wrapper {
      padding: 40px 0;
      width: 50%;

      .name {
        font-size: 6em;
        padding-bottom: 20px;
      }
    }
  }

  .avatar {
    padding: 50px 0;
  }

  hr {
    width: 100%;
  }

  .resume-contact-link-wrapper {
    .link {
      background-color: $yellow;
      width: 90%;
    }
  }

  .home-projects-header {
    font-size: 5em;
  }

  .home-project-blocks {
    .project-wrapper {
      height: 400px;

      .project-link {
        height: 400px;
      }

      .project-image {
        height: 350px;
      }

      .project-title {
        font-size: 3em;
      }
    }
  }
}
