.homepage {
  padding: 5%;

  .name-wrapper {
    padding: 20px 0;
  }

  .name {
    text-align: center;

    h1 {
      font-family: "Mr Bedfort", cursive;
      margin: 0;
    }
  }

  .headshot {
    text-align: center;
    padding-bottom: 20px;

    img {
      width: 65%;
      border-radius: 50%;
    }
  }

  .blurb {
    text-align: center;
    padding: 0 20px;
  }

  hr {
    color: $blue;
    background: $blue;
    border: 0;
    height: 3px;
    width: 90%;
  }

  .resume-link-wrapper {
    background-color: $yellow;
    padding: 25px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    -moz-transition: all .4s ease-in;
    -o-transition: all .4s ease-in;
    -webkit-transition: all .4s ease-in;
    transition: all .4s ease-in;
  }

  .resume-link-wrapper:hover {
    background-color: $purple;
    color: $yellow;
  }
  .resume-link {
    font-family: "Josefin Sans", sans;
    font-size: 1.5em;
    text-transform: uppercase;
    color: $purple;
  }

  .section-header {
    text-align: center;

    h2 {
      font-family: "Mr Bedfort";
    }
  }

  .project {
    .title-block {
      text-align: center;
      border: 3px solid $blue;
      padding: 30px 0;
      -moz-transition: all .4s ease-in;
      -o-transition: all .4s ease-in;
      -webkit-transition: all .4s ease-in;
      transition: all .4s ease-in;
    }

    .title-block:hover {
      background-color: $purple;
      border: 3px solid $yellow;
    }
  }

  .send-button {
    @include button($expand: true);
    font-family: "Josefin Sans", sans;
    text-transform: uppercase;
  }
}

@include breakpoint(medium) {
  .homepage {
    padding: 0 10%;

    .name-wrapper {
      padding: 40px 0;
    }

    hr {
      width: 100%;
    }

    .resume-link {
      padding: 20px 0;
    }

    .section-header {
      padding-top: 25px;
    }

    .projects-header {
      padding-bottom: 25px;
    }

    .section-content-wrapper {
      padding-bottom: 25px
    }
  }
}
