.project-show-title {
  text-align: center;
  font-family: "Mr Bedfort", cursive;
  font-size: 4em;
  padding: 20px 0;
  background-position: center center;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.visit-site {
  font-family: "Josefin Sans", sans;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.project-show-description {
  padding: 0 30px;
}

.delete-edit {
  text-align: center;
  font-family: "Josefin Sans", sans;
  text-transform: uppercase;
  padding: 30px
}


@include breakpoint(medium) {
  .project-show-title {
    padding-top: 50px;
  }
}
