<div>
  <ul>
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Resume', root_path %></li>
    <li><%= link_to 'Projects', projects_path %></li>
    <li><%= link_to 'Contact', contact_path %></li>
    <li><a href="http://github.com/kaxla">Github</a></li>
    <li><a href="http://linkedin.com/in/kaylahowser">LinkedIn</a></li>
  </ul>
</div>
